---
import Resize from "@components/icons/Resize.astro";
import Minimize from "@components/icons/Minimize.astro";
import Close from "@components/icons/Close.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<article
  class="window-item harsh-neutral-600 transition-height font-pixel border-em m-4 flex min-w-[320px] flex-col overflow-hidden border-solid border-neutral-900 bg-neutral-50 dark:border-neutral-100 dark:bg-neutral-900"
>
  <header
    class="window-title my-0.5 flex h-6 flex-none items-center bg-[linear-gradient(var(--color-neutral-900)_50%,transparent_50%)] px-1 py-0.5 dark:bg-[linear-gradient(var(--color-neutral-500)_50%,transparent_50%)]"
  >
    <Close
      aria-label="Expand/collapse card"
      size="22px"
      class="relative ml-2 block cursor-pointer fill-neutral-50 stroke-neutral-900 dark:fill-neutral-900 dark:stroke-neutral-100"
      role="button"
    />
    <span
      class="font-chi mx-auto cursor-default bg-neutral-50 px-2 text-center text-2xl/tight font-bold dark:bg-neutral-900"
    >
      {title}
    </span>
    <div class="mr-3 flex flex-row items-center">
      <Resize
        aria-label="Expand/collapse card"
        size="22px"
        class="relative block cursor-pointer fill-neutral-50 stroke-neutral-900 dark:fill-neutral-900 dark:stroke-neutral-100"
        role="button"
      />
      <Minimize
        aria-label="Expand/collapse card"
        size="22px"
        class="relative block cursor-pointer fill-neutral-50 stroke-neutral-900 dark:fill-neutral-900 dark:stroke-neutral-100"
        role="button"
      />
    </div>
  </header>
  <div
    class="border-t-rem flex flex-none flex-row justify-between border-solid border-neutral-900 text-base dark:border-neutral-100"
  >
  </div>
  <div class="window-content transition-height overflow-clip duration-300">
    <div class="p-4">
      <slot />
    </div>
  </div>
</article>
