@font-face {
  font-family: "ChiKareGo2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/ChiKareGo2.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Brygada1918-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Brygada1918-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Brygada1918-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Brygada1918-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Brygada1918-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Brygada1918-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Brygada1918-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Brygada 1918";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Brygada1918-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Caveat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/DynaPuff-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/DynaPuff-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/DynaPuff-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "DynaPuff";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/DynaPuff-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/PixelifySans-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Playwrite Cuba";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/PlaywriteCU-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Playwrite Cuba";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/PlaywriteCU-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Playwrite Cuba";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/PlaywriteCU-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Playwrite Cuba";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/PlaywriteCU-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/SUSE-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "SUSE";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/SUSE-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/Tektur-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/Tektur-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/Tektur-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/Tektur-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/Tektur-VariableFont_wdth-wght.ttf) format("truetype");
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/Tektur-VariableFont_wdth-wght.ttf) format("truetype");
}
