@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));

:root {
  --background: oklch(94.46% 0.026 14.74);
  --foreground: oklch(21.78% 0 0);
  --foreground-dim: oklch(32.11% 0 0);
  --grey-light: oklch(96.12% 0 0);
  --grey-medium: oklch(92.49% 0 0);
  --grey-dark: oklch(84.52% 0 0);
}

.dark, .dark *, [data-theme="dark"], [data-theme="dark"] * {
  --background: oklch(21.78% 0 0);
  --foreground: oklch(96.12% 0 0);
  --foreground-dim: oklch(84.52% 0 0);
  --grey-light: oklch(32.11% 0 0);
  --grey-medium: oklch(42.02% 0 0);
  --grey-dark: oklch(51.03% 0 0);
}

@theme {
  --font-jetbrains: "JetBrains Mono", var(--font-mono);
  --font-suse: "SUSE", var(--font-sans);
  --font-chi: "ChiKareGo2", var(--font-mono);
  --font-pixel:
    "JetBrains Mono", "ChiKareGo2",
    var(--font-mono);

  /* Grapefruit Pink */
  --color-pink-50: oklch(94.46% 0.026 14.74);
  --color-pink-100: oklch(89.23% 0.053 16.76);
  --color-pink-200: oklch(79.12% 0.115 17.97);
  --color-pink-300: oklch(70.51% 0.175 21.05);
  --color-pink-400: oklch(64.41% 0.226 24.75);
  --color-pink-500: oklch(61.49% 0.25 28.49);
  --color-pink-600: oklch(52.1% 0.211 28.28);
  --color-pink-700: oklch(42.1% 0.169 28.1);
  --color-pink-800: oklch(31.64% 0.126 27.39);
  --color-pink-900: oklch(20.09% 0.076 26.16);
  --color-pink-950: oklch(16.42% 0.063 24.95);

  /* Golden Pollen */
  --color-yellow-50: oklch(97.9% 0.024 91.61);
  --color-yellow-100: oklch(95.87% 0.047 91.32);
  --color-yellow-200: oklch(91.84% 0.093 89.97);
  --color-yellow-300: oklch(88.19% 0.131 89.66);
  --color-yellow-400: oklch(84.93% 0.158 87.53);
  --color-yellow-500: oklch(81.67% 0.167 82.9);
  --color-yellow-600: oklch(69.36% 0.141 83.49);
  --color-yellow-700: oklch(56.14% 0.114 84.18);
  --color-yellow-800: oklch(42.2% 0.085 84.65);
  --color-yellow-900: oklch(27.11% 0.053 89.27);
  --color-yellow-950: oklch(22.26% 0.044 90.26);

  /* Yellow-Green */
  --color-green-50: oklch(97.63% 0.022 123.62);
  --color-green-100: oklch(95.48% 0.046 124.79);
  --color-green-200: oklch(91.17% 0.09 125);
  --color-green-300: oklch(86.75% 0.13 126.05);
  --color-green-400: oklch(82.72% 0.167 127.44);
  --color-green-500: oklch(78.98% 0.194 128.98);
  --color-green-600: oklch(66.87% 0.163 129.01);
  --color-green-700: oklch(54.25% 0.129 128.66);
  --color-green-800: oklch(41.12% 0.096 128.3);
  --color-green-900: oklch(26.44% 0.056 128.05);
  --color-green-950: oklch(21.61% 0.042 125.51);

  /* Ocean Blue */
  --color-blue-50: oklch(96.13% 0.016 239.1);
  --color-blue-100: oklch(92.44% 0.031 234.44);
  --color-blue-200: oklch(85% 0.062 235.19);
  --color-blue-300: oklch(77.76% 0.092 236.39);
  --color-blue-400: oklch(70.66% 0.12 239.18);
  --color-blue-500: oklch(64.34% 0.144 242.86);
  --color-blue-600: oklch(54.63% 0.12 242.44);
  --color-blue-700: oklch(44.77% 0.095 241.29);
  --color-blue-800: oklch(34.07% 0.069 240.5);
  --color-blue-900: oklch(22.46% 0.04 238.57);
  --color-blue-950: oklch(18.7% 0.03 237.31);

  /* Deep Lilac */
  --color-purple-50: oklch(95.45% 0.011 308.33);
  --color-purple-100: oklch(90.97% 0.021 304.01);
  --color-purple-200: oklch(81.85% 0.044 305.03);
  --color-purple-300: oklch(72.46% 0.067 304);
  --color-purple-400: oklch(62.85% 0.096 303.76);
  --color-purple-500: oklch(53.18% 0.121 302.24);
  --color-purple-600: oklch(45.49% 0.102 302.65);
  --color-purple-700: oklch(37.49% 0.078 302.27);
  --color-purple-800: oklch(29.01% 0.056 303.06);
  --color-purple-900: oklch(19.74% 0.031 302.05);
  --color-purple-950: oklch(16.66% 0.024 304.78);

  /* Platinum -> Graphite */
  --color-neutral-50: oklch(96.12% 0 0); /* platinum */
  --color-neutral-100: oklch(92.49% 0 0);
  --color-neutral-200: oklch(84.52% 0 0);
  --color-neutral-300: oklch(76.68% 0 0);
  --color-neutral-400: oklch(68.3% 0 0);
  --color-neutral-500: oklch(59.99% 0 0);
  --color-neutral-600: oklch(51.03% 0 0);
  --color-neutral-700: oklch(42.02% 0 0);
  --color-neutral-800: oklch(32.11% 0 0); /* graphite */
  --color-neutral-900: oklch(21.78% 0 0);
  --color-neutral-950: oklch(18.22% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-dim: var(--foreground-dim);
  --color-grey-light: var(--grey-light);
  --color-grey-medium: var(--grey-medium);
  --color-grey-dark: var(--grey-dark);
}

@import "./base.css";
@import "./utils.css";
